{% extends 'base.html' %}







{% block container %}
<div id="page_content_inner">
    <div class="uk-width-large-4-10 uk-container-center">
        <div><h1>change password</h1></div>
        <div class="md-card">

            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                    	{{ form.non_field_errors }}
                            <form method="POST" id="form_validation" class="uk-form-stacked">{% csrf_token %}
                              
                                <div class="uk-form-row">
                                	{{ form.old_password.errors }}
                                    <label for="{{form.old_password.id_for_label}">Old Password<span class="req">*</span></label>
                                    <input type="password" name="{{ form.old_password.html_name }}" required class="md-input" value=""/>
                                </div>
                                <div class="uk-form-row">
                                	{{ form.new_password1.errors }}
                                    <label for="{{form.new_password1.id_for_label}">Password<span class="req">*</span></label>
                                    <input type="password" name="{{ form.new_password1.html_name }}" required class="md-input" value=""/>
                                </div>
                                <div class="uk-form-row">
                                	{{ form.new_password2.errors }}
                                    <label for="{{form.new_password2.id_for_label}">Confirm Password<span class="req">*</span></label>
                                    <input type="password" name="{{ form.new_password2.html_name }}" required class="md-input" value=""/>
                                </div>
                                
        
                                <div class="uk-form-row ">
                                    <button type="submit" class="md-btn md-btn-primary">Submit</button>
                                    
                                </div>
                            </form>
                        </div>
                        {% if form.errors %}
					    <div >
					      <h4>Please fix the following errors</h4>
					      <ul>
					        {% for field in form %}
					          {% if field.errors %}
					            {% for error in field.errors %}
					              {{error}}
					            {% endfor %}
					          {% endif %}
					        {% endfor %}
					      </ul>
					      {% if form.non_field_errors %}
					        {{ form.non_field_errors }}
					      {% endif %}
					    </div>
					  {% endif %}

                    </div>
                </div>
            </div>

        </div>

     </div>
{% endblock %}