{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}
<div id="page_content_inner">
    <div class="uk-width-large-4-10 uk-container-center">
        <div><h1>Password-Reset</h1></div>
        <div class="md-card">

            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        {{ form.non_field_errors }}
                            <form method="POST" id="form_validation" class="uk-form-stacked">{% csrf_token %}
                             
                                <div class="uk-form-row">
                                    {{ form.email.errors }}
                                    <label for="{{form.email.id_for_label}">Enter your email<span class="req">*</span></label>
                                    <input type="text" name="{{ form.email.html_name }}" required class="md-input" value=""/>
                                </div>
                              
                                
        
                                <div class="uk-form-row ">
                                    <button type="submit" class="md-btn md-btn-primary">Reset Password</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}