{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}
<div id="page_content_inner">
    <div class="uk-width-large-4-10 uk-container-center">
        <div><h1>Password reset complete</h1></div>
        <div class="md-card">

            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                            <div><h2>You have successfully changed the password</h2></div>
                            <div>
                                <a href="{% url 'accounts:login' %}">login</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
